body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
}
#countdown {
    font-size: 3em;
    margin-top: 20%;
}
#title {
    font-size: 2em;
    margin-top: 50px;
}
